<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="GRAPH_API_USER_ACCESS_TOKEN" value="EAACEdEose0cBAEZAJaSJbZCuJBwGWwETqJtdtZAXWK5dhmbVrKcLKegk2OHYOHimqrwmsJsc1PF28fTQLYPNnoz3EfSUOE0YuWm2lhJbLCoWYYSdJsZA2eyPZCssIDGRrx69GRjGXzGN9oJbZAuxdiKEywiaQuxEcxNRkIq3EbBZAuIktmZCUVeFUjlNZBIn9zb7H2bE29CZC0ZC1hF3ecceoi8BmomZAvW6z7AZD"/>
  
  </appSettings>
  
</configuration>
